html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

main {
  display: block;
}

ul {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

[hidden] {
  display: none;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.wrapper {
  max-width: 2260px;
  margin: 0 auto;
}

.container {
  max-width: 2120px;
  margin: 0 auto;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1f2326;
  z-index: 2;
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
}

.header__logo span {
  width: 42px;
  height: 2px;
  background-color: #fff;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin: 0 20px;
  display: block;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
}

.header__link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  margin-left: 20px;
}

.header__account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
}

.header__account a {
  margin-left: 10px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  margin-left: 20px;
}

.header__account img {
  border-radius: 50%;
}

.header__burger {
  display: none;
}

@media (max-width: 1250px) {
  .header__body {
    height: 60px;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
  }
  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
    -webkit-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
  }
  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
    -webkit-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
  }
  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
  }
  .header__burger::before, .header__burger::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
    overflow: auto;
  }
  .header__menu.active {
    top: 0;
  }
  .header__link {
    color: #1f2326;
    margin: 0;
  }
  .header__list {
    display: block;
  }
  .header__list li {
    margin-bottom: 30px;
  }
}

@media (max-width: 430px) {
  .header__logo span,
  .header__logo .riot {
    display: none;
  }
}

@media (max-width: 370px) {
  .header__account a {
    display: none;
  }
}

.main {
  background-image: url(../img/background.png);
  margin-top: 80px;
  background-color: #ff4656;
}

@media (max-width: 1250px) {
  .main {
    margin-top: 60px;
  }
}

.main .pers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 113px;
  padding-bottom: 1300px;
  max-height: 3400px;
}

.main .pers__h1 {
  -webkit-transform: translate(120%, 0);
          transform: translate(120%, 0);
  -webkit-transition: 2s;
  transition: 2s;
  opacity: 0;
}

.main .pers__h1._active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.main .pers__h1 h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 156px;
  line-height: 204px;
  letter-spacing: 0.1em;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  margin: 0;
}

.main .pers__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .pers__item {
  position: relative;
  margin-top: 100px;
  opacity: 0;
  -webkit-transform: translate(-120%, 0);
          transform: translate(-120%, 0);
  -webkit-transition: 2s;
  transition: 2s;
}

.main .pers__item._active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.main .pers__names {
  position: absolute;
  top: 150px;
  left: -35%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: 0.2em;
  color: #ff4656;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.main .pers__names h3 {
  font-weight: 700;
  font-size: 72px;
  line-height: 94px;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  margin: 0;
}

.main .pers__abilites {
  padding: 30px;
  background: #1f2326;
  border: 2px solid #f8f8f8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  left: 52px;
  bottom: -5%;
}

@media (max-width: 667px) {
  .main .pers__h1 h1 {
    font-weight: 300;
    font-size: 56px;
    line-height: 104px;
  }
}

@media (max-width: 500px) {
  .main .pers__abilites {
    padding: 15px;
  }
  .main .pers__abilites img {
    max-width: 180px;
  }
  .main .pers__names {
    left: -28%;
  }
  .main .pers__names span {
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
  }
  .main .pers__names h3 {
    font-weight: 500;
    font-size: 42px;
    line-height: 64px;
  }
  .main .pers__img img {
    max-width: 280px;
    max-height: 600px;
  }
}

.super__items {
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1400px) {
  .super__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.super__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px;
  background-color: #fff;
  max-width: 700px;
  max-height: 250px;
  width: 100%;
  height: 100%;
  border: 2px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top-left-radius: 10%;
  position: relative;
  margin-bottom: 50px;
  opacity: 0;
  -webkit-transform: translate(-120%, 0);
          transform: translate(-120%, 0);
  -webkit-transition: 2s;
  transition: 2s;
}

.super__item._active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.super__names {
  z-index: 1;
}

.super__names h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  color: #c4c4c4;
  margin: 0 0 22px 0;
}

.super__names h5 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  margin: 0 0 22px 0;
}

.super__names span {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  color: #1f2326;
}

.super__block {
  position: absolute;
  width: 190px;
  height: 182px;
  background: #ff4656;
  left: 55%;
  z-index: 0;
  bottom: 0;
}

.super__img {
  z-index: 1;
  margin-top: 30px;
}

@media (max-width: 676px) {
  .super__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    max-width: 100%;
    max-height: 100%;
  }
}

.footer {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transform: rotateX(45deg);
          transform: rotateX(45deg);
  -webkit-perspective: 400px;
          perspective: 400px;
  -webkit-transition: 2s;
  transition: 2s;
}

.footer._active {
  opacity: 1;
  -webkit-perspective: 0;
          perspective: 0;
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
}

.footer a {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  color: #6a5454;
  text-decoration: none;
}

.anime {
  opacity: 0;
  -webkit-transform: rotate(1000deg);
          transform: rotate(1000deg);
  -webkit-transition: 2s;
  transition: 2s;
}

.anime._active {
  opacity: 1;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
